/* canvas webgl cubes styling*/
body {
    margin: 0;
    font-family: OverWatch, Noodle, Fallback, sans-serif, Fallback, sans-serif;
}

canvas {
    width: 100%;
    height: 100%;
}

/* text styling */

#info {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
    color: #f99e1a;
    font-size: 2em;
    background-color: #405275;
    border-bottom: solid;
    text-transform: uppercase;
    font-style: italic;
}


/* font styling */

@font-face {
    font-family: 'OverWatch';
    src: url("../fonts/overwatch.eot");
    src: url("../fonts/overwatch.woff") format('woff');
    src: url("../fonts/overwatch.ttf") format('truetype');
}
@font-face {
    font-family: 'Noodle';
    src: url("../fonts/bignoodletoo.woff") format('woff');
}