body {
    margin-top: 10em;
	margin-bottom: 10em;
}

h1, h2, #profiles, #repo_main{
    margin-top: 1em;
}

#background {
    margin-top: 1em;
    font-size: larger;
}

button {
    margin: 0.2em;
}

.repo-div {
    padding: 1em ;
    margin-top: 1.5em;
}

.clone-url {
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    font-size: small;
    /*background-color: #adb5bd;*/
    padding: 1em;
}